<?php

namespace Nette\Application\Diagnostics;

?>
<style>
#nette-debug .path { color: #000 !important; }
#nette-debug .path:hover,#nette-debug .path:active,#nette-debug .path:focus { background-color: #BBB !important }
#nette-debug code pre {	display: inline; }
#nette-debug .nette-warning { 	color: #D32B2B;	font-weight: bold; }
</style>
<h1>templates</h1>
<div class="nette-inner" style="max-width: 1200px">
	<table style="width: 100%">
		<tr>
			<th>path</th>
			<th>params</th>
		</tr>
		<?php foreach ($this->templates as $template) { ?>
		<tr>
			<td><code><?= \Tracy\Helpers::editorLink($template->getFile(), 1)  ?></code></td>
			<td><code><?= \Tracy\Dumper::toHtml($template->getParameters(), array(\Tracy\Dumper::COLLAPSE => true)) ?></code></td>
		</tr>
		<?php } ?>
	</table>
</div>
