<?php if (count($this->templates)) { ?>
<img src="data:image/gif;base64,R0lGODlhEAAQAKIAAAAAAP///87P/4SGhMbHxv///wAAAAAAACH5BAEAAAUALAAAAAAQABAAQANCWDrcrkUAKcG8VMARuv/EJIxkaW7fxwHRyKXgZY0iJm5Eru8hCgcDFqTwglksvl8gZGo2MZljhlKjUSfJX29x7HoTADs%3D" />
<span class="nette"></span>
<?php } ?>