<h1>Navigation</h1>
{var $mainPresenter = \Nette\Environment::getApplication()->getPresenter()}
{if $mainPresenter}
<div class="nette-inner">
	<table style="width: 100%;">
		<thead>
			<tr>
				<th>Module</th>
				<th>Presenter</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>

			{var $rowspan_module = 1}
			{var $rowspan_presenter = 1}
			{foreach $tree as $module => $presenters}
				{foreach $presenters as $presenter => $actions}
					{foreach $actions as $action}
						<tr>
							{if $rowspan_module == 1}
								{var $rowspan_module = \Asdf\Diagnostics\Panel\Navigation::getRowspan($presenters)}
								<td rowspan="{$rowspan_module}">{$module}</td>
							{else}
								{var $rowspan_module = $rowspan_module - 1}
							{/if}

							{if $rowspan_presenter == 1}
								{var $rowspan_presenter = \Asdf\Diagnostics\Panel\Navigation::getRowspan($actions)}
								<td rowspan="{$rowspan_presenter}">
									{if in_array('default', $actions)}
									<a href="{=\Nette\Environment::getApplication()->getPresenter()->link($module ? ":$module:$presenter:" : ":$presenter:")}">
										{$presenter}
									</a>
									{else}
									<a href="{=\Nette\Environment::getApplication()->getPresenter()->link($module ? ":$module:$presenter:$action" : ":$presenter:$action")}">
										{$presenter}
									</a>
									{/if}
								</td>
							{else}
								{var $rowspan_presenter = $rowspan_presenter - 1}
							{/if}

							<td>
								<a href="{=\Nette\Environment::getApplication()->getPresenter()->link($module ? ":$module:$presenter:$action" : ":$presenter:$action")}">
									{$action}
								</a>
							</td>
						</tr>
					{/foreach}
				{/foreach}
			{/foreach}
		</tbody>
	</table>
</div>
{/if}
