<h1>Requests (<?php echo count($logs)?>)</h1>

<div class="tracy-inner">
<?php if (count($logs) > 0) { ?>
<table>

	<tbody>
	<?php foreach ($logs as $name => $entry): ?>
		<tr>
			<th colspan=2>
				<?php echo $entry['info']['request'] . " " . $entry['info']['uriPath']?>
				&nbsp;&rArr;&nbsp;
				<?php echo $entry['info']['presenter']?>

				&nbsp;&rArr;&nbsp;
				<?php echo $entry['info']['response']?>
				[<?php echo $entry['info']['time'] ?> ms]
			</th>
		</tr>
		<tr>
			<td nowrap>
				<table width=100%>
					<tr><th>Uri</th><td><a style="color:blue !important; text-decoration:underline" href="<?php echo $entry['info']['uri']?>"><?php echo $entry['info']['uri']?></a></td></tr>
					<?php if ($entry['info']['signal']) :?><tr><th>Signal</th><td><?php echo $entry['info']['signal']?></td></tr><?php endif ?>
					<tr>
						<th>Dumps</th>
						<td width=100%>
								<a class="nette-toggler" rel="next" href="#"><abbr>&#x25ba;</abbr></a>
								<table class="nette-hidden">
									<?php foreach ($entry['dumps'] as $key => $dump): ?>
									<tr>
										<th><strong><?php if (!is_numeric($key)) echo $key;?></strong></th>
										<td>
											<?php echo $dump ?>
										</td>
									</tr>
								<?php endforeach ?>
								</table>
					</td>
				</tr>
				</tbody>
				</table>
				<?php endforeach ?>

</table>
<?php } else { ?>
	<p>No requests</p>
<?php } ?>
</div>



