<h1>Translates</h1>
<div class="nette-inner">
	<table style="width: 100%">
		<tr>
			<th>imported files</th>
		</tr>
		<?php foreach ($this->files as $link) { ?>
		<tr>
			<td><?= $link ?></td>
		</tr>
		<?php } ?>
	</table>
	<br />
	<table style="width: 100%">
		<tr>
			<th>message</th>
			<th>count</th>
			<th>called in</th>
		</tr>
		<?php foreach ($this->untranslated as $translate) { ?>
		<tr>
			<td><?= $translate['id'] ?></td>
			<td><?= $translate['count'] ?></td>
			<td><?= $translate['path'] ?></td>
		</tr>
		<?php } ?>
	</table>
</div>
