<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	
		<meta name="description" content="Tickets">
		<meta name="robots" content="{$robots}" n:ifset="$robots">
		<title n:ifset="$title">{$title}</title>
		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css" type="text/css">
		<script src="{$basePath}/js/main.js" type="text/javascript"></script>
		{block head}{/block}
	</head>
	
	<body>
		<div id="main">
			<div id="main-content">
				{include #content}
			</div>
		</div>
	</body>
</html>
