<?php

namespace Nette\Application\Diagnostics;

?>
<style>
#nette-debug .path { color: #000 !important; }
#nette-debug .path:hover,#nette-debug .path:active,#nette-debug .path:focus { background-color: #BBB !important }
#nette-debug code pre {	display: inline; }
#nette-debug .nette-warning { 	color: #D32B2B;	font-weight: bold; }
</style>
<h1>Redis</h1>
<div class="nette-inner">
	<h2>server - <?= $this->server ?></h2>
	<table>
		<tr>
			<th>id</th>
			<th>arg</th>
			<th>write (ms)</th>
			<th>read (ms)</th>
		</tr>
	<?php
	foreach ($this->debugBuffer as $row) {
	$first = true;
	?>
		<?php foreach ($row['commands'] as $command) { ?>
			<?php if($first) {
				$first = false;
			?>
			<tr>
				<td rowspan="<?= count($row['commands']) ?>"><?= $row['id'] ?></td>
				<td><?= $command['arg'] ?></td>
				<td><?= $command['write']['duration'] ?></td>
				<td><?= $command['read']['duration']?></td>
			</tr>
			<?php } else { ?>
			<tr>
				<td><?= $command['arg'] ?></td>
				<td><?= $command['write']['duration'] ?></td>
				<td><?= $command['read']['duration']?></td>
			</tr>
			<?php } ?>
		<?php } ?>
	<?php } ?>
	</table>
	<form method="post">
		<div>
			<input type="submit" value="flush" />
			<input type="hidden" name="action" value="redisPanelFlush" />
		</div>
	</form>
</div>
